/*
	99Lime.com HTML KickStart by Joshua Gatcke
	style.css
	
*/

/*---------------------------------
	IMPORTS
-----------------------------------*/


/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

.menu{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

blockquote{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
background-image:url('./images/background.jpg');
background-repeat:no-repeat;
background-attachment:fixed;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width:960px;/*960*/
background:#fff;
margin:30px auto 30px auto;
padding:0;
border:1px solid #ccc;
}

.logo{
 margin: 10px;

}
.menu{
margin:-1px -1px 0 -1px;
}


#footer{
text-align:center;
padding:20px;
margin:0;
background:#efefef;
border-top:1px solid #ccc;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
}

	#link-top{
	position: absolute;
	top:10px;
	right:10px;
	*right:25px;/*IE 7 ONLY*/
	left:auto;
	color:#666;
	text-decoration:none;
	display: inline-block;
	padding:5px 10px;
	background:#e5e5e5;
	line-height:100%;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	}

.actualiza {
text-decoration:none;
color:#666;
}


#slideDiv {

    float: right; 
    display: block;
    padding: 20px;
    background: #777777;
    z-index: 99999;


	background-image: url("images/bg.jpg");
	border-bottom: 3px solid #FFFFFF;

	-webkit-box-shadow: 0 0 10px #000000;
	-moz-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	display: block;
	height: 30px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;

}

#slideDiv {
	/*display: none;*/
}

#slideDiv:checked + #login-form {
	top: -20px;
}
.login_side{
	display: block;
	
	margin-left: 35%;
}

.fixed-div {
    position: fixed;
    top: 1em;
    right: 1em;
    background: #777777;
    border: 1px solid #999999;
    width: 150px;
    height: 50px;
    padding: 4px;
    display:none;
}
